/*************************** Global Styles *******************************/
html {
    color:#0D0D0D;
    font-size: 1em;
    line-height: 1.4;
}

body {
    font-size: 1em;
    font-family: "Jost", sans-serif;
    color:#0D0D0D;
    background-color: #D9D7CC;

}

ul {
    list-style: none;
    font-family: 'Fraunces', serif;
    margin: 0;
    padding: 0;
}

a {
    color: #0D0D0D;
    text-decoration: none;
}

h1 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1.5;
    width: 100%;
}

h2 {
    font-size: 1.25rem;
    width: 100%;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: .90rem;
}

h5 {
    font-size: .75rem;
}

 
h3, 
h4,
h5 {
    line-height: 1.5;
    width: 100%;
    font-family: "Archivo", sans-serif;
    text-transform: uppercase;
}

p,
li {
    line-height: 1.5;
    font-size: .75rem;
}

span {
    font-weight: 500;
}

img {
    width: 100%;
}

figure {
    margin: 0;
}

address {
    font-style: normal;
}

button {
    border: 1px solid #0D0D0D;
    background-color: #0D0D0D;
    color:#D9D7CC;
    margin-top: 20px;
    padding: 5px;
    font-family: "Jost", sans-serif;
    text-transform: uppercase;
}
  

/******** STRUCTURAL STYLES ***********/

header,
#work,
#skills,
#about,
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
}

.content-wrapper {
    width: 85%;
}

#work p,
#about p {
    width: 100%;
    text-align: left;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    padding-top: 30px;
    padding-bottom: 60px;
}

nav {
    margin-bottom: 60px;
}

#work {
    padding-top: 60px;
}

#skills {
    padding-bottom: 80px;
}

#about {
    padding-top: 60px;
    padding-bottom: 60px;
}

#about h5 {
    margin-bottom: 40px;
}

footer {
    padding: 80px 0;
}

h2 {
    margin-top: 60px;
}

h3 {
    margin-bottom: 20px;
}

h4 {
    margin: 20px 0 40px 0;
}

.project-description {
    margin: 0 0 30px 0;
}

.project-link {
    margin: 40px 0 60px 0;
}

figure {
    margin: 20px 0 40px 0;
}

.skills-header {
    margin-bottom: 20px;
}

.about-info h3 {
    margin: 40px 0 40px 0;
}

.about-text {
    margin: 0 0 30px 0;
}

#contact h3 {
    margin-bottom: 60px;
}

.contact-info {
    margin: 0 0 60px 0;
}

.contact-header {
    margin: 0 0 40px 0;
  }

/***************** BASE HEADER STYLES *******************/

header {
    padding-top: 30px;
    padding-bottom: 60px;
}

header nav ul li {
    font-size: .75rem;
    margin-bottom: 20px;
    font-family: "Archivo", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

header h1 {
    width: 100%;
}

header h2 {
    width: 100%;
    font-weight: 500;
}


/****************** MAIN PAGE - MOBILE STYLES *****************/

/*PORTFOLIO*/

#work,
#skills {
    width: 100%;
}

#work h3 {
    width: 100%;
}

.project-wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
}

.project {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.project h4 {
    font-weight: 500;
}

.project figure {
    width: 100%;
}

#skills {
    padding-bottom: 80px;
}

#skills h3 {
    margin-bottom: 20px;
}

#skills h4 {
    margin: 40px 0 40px 0;
    font-weight: bold;
}

.lang-wrapper p,
.tool-wrapper p {
    border: .5px solid #595959;
    padding: 15px 0;
    margin: 20px 0;
}


.tool {
    width: 100%;
}

/* ABOUT */

#about {
    width: 100%;
}

#profile-image {
    width: 90%;
}

/************************* FOOTER STYLES ***********************/

footer .contact-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

footer .contact-info {
    width: 60%;
}

footer h4 {
    width: 100%
}

footer .follow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

footer .social-icons {
    display: flex;
    justify-content: space-around;
}

footer ul {
    width: 100%;
}

footer .social-icons li {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social-icons li i {
    font-size: 1.875rem;
}

hr {
    border-top: .5px solid #595959;
}

.copyright {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    text-transform: uppercase;
}

/************************** Tablet Styles *******************************/

@media only screen and (min-width: 481px) {


}

/************************** Desktop Styles ******************************/

@media only screen and (min-width: 1200px) {


}