/*************************** Global Styles *******************************/
html {
    font-size: 16px;
    line-height: 1.4;
}

body {
    font-size: 1em;
    font-family: 'Didact Gothic', sans-serif;
    color: #001F3F;
    background-color: white;
    margin: 0;

}

ul,
ol {
    list-style: none;
    font-family: 'Fraunces', serif;
    font-size: .825em;
}

h1 {
    text-align: center;
    font-family: 'Homemade Apple', cursive;
    font-size: 2.5em;
}

h2 {
    font-family: 'Fraunces', serif;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

h3,
h4 {
    font-family: 'Fraunces', serif;
    font-weight: 400;
    text-align: center;
    width: 100%;
}

p {
    text-align: center;
}

.heading-section {
    background-color: #EBBDBD;

}

img {
    width: 100%;
}

a {
    text-align: center;
    color: #556B2F;
    text-decoration: none;
}

button {
    display: flex;
    justify-content: center;
}

/************************** Header Styles (Mobile) *******************************/

.nav-wrapper {
    width: 100%;
}

header nav ul {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
    align-items: flex-start;
    padding: 30px 0 60px 0;
    margin: 0;
}

header nav ul li {
    font-weight: 400;
    color: #556B2F;
    margin-top: 30px;
    padding: 5px;
    display: block;

}

header p {
    padding: 30px;
    font-weight: 600;
}


/************************** Main Styles (Mobile) *********************************/
.projects-wrapper {
    margin: 0;
}

.projects-wrapper h2 {
    padding-top: 80px;
    padding-bottom: 20px;
}

.projects-wrapper img {
    margin: 0 40px;
}

.projects-wrapper h3 {
    text-decoration: underline;
}

.all-unplugged h3 {
    padding-top: 20px;
}




.skills-wrapper {
    background-color: #A5CCE8;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.skill-text h3,
.skill-text {
    display: flex;
    flex-direction: column;
    text-align: center;

}

/************************** Tablet Styles) *******************************/

@media only screen and (min-width: 768px) {


header nav ul {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 80px;
}

header nav ul li {
    font-weight: 500;
    font-size: 1.15em;
}

.skill-text h3,
.skill-text {
    display: flex;
    flex-direction: row;
    text-align: center;

}

}

/************************** Desktop Styles ******************************/

@media only screen and (min-width: 1200px) {

}